.manufactureVisit
  .c
    img.manufactureVisit__image(src='modules/manufactureVisit/img/img.png')
    .manufactureVisit__content
      .manufactureVisit__title.h4 Как увидеть производство лично
      .manufactureVisit__text
        p Завод находится в г. Кировской области — специально, чтобы любой желающий смог увидеть, как производят детали будущего дома мы готовы оплатить перелет туда и обратно.
        p Наш адрес:
        p: b Чтобы получить максимум информации вы можетепосетить наш демонстрационный дом и связаться с заводом по видеоконференцсвязи и задать все вопрос лично директору по производству (уточнить с кем и как связаться).
      a.btn.btn--70.btn--type3(href='#') УВИДЕТЬ СВОИМИ ГЛАЗАМИ
