.search
  form
    .search__form
      .input
        label.input__label ВВЕДИТЕ КЛЮЧЕВЫЕ СЛОВА ДЛЯ ПОИСКА
        input.input__input
      .search__links
        a.link(href='#') дом из бруса
        a.link(href='#') баня
        a.link(href='#') каркасный дом
        a.link(href='#') проекты
      button.btn.search__button ПОИСК

  .search__items
    a.search__item(href='#')
      .search__title название страницы
      .search__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes ...
    a.search__item(href='#')
      .search__title название страницы
      .search__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes ...
    a.search__item(href='#')
      .search__title название страницы
      .search__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes ...

  .search__more
    a.btn(href='#') ЗАГРУЗИТЬ ЕЩЕ
