.service
  .c
    .service__container
      .service__content.content
        p Наше архитектурное бюро  каждый день работают над проектами домов вашей мечты.На счету наших специалистов - более 200 типовых и нетиповых проектов деревянных домов за 10 лет! Это значит, что в разных городах и областях России люди каждый день возвращаются домой и чувствуют себя счастливыми. Эти дома спроектировали и построили мы!

        .advantages
          .advantages__item: .advantages__card
            .advantages__icon: +svg('calendar')
            .advantages__header СРОК
            .advantages__text индивидуальный проект делается от х до х дней
          .advantages__item: .advantages__card
            .advantages__icon: +svg('analytics')
            .advantages__header СТОИМОСТЬ
            .advantages__text мы поможем оптимизировать издержки
          .advantages__item: .advantages__card
            .advantages__icon: +svg('diamond')
            .advantages__header БЕСПЛАТНО
            .advantages__text при заказе дома - проектирование 0 рублей 400 руб/м2
          .advantages__item: .advantages__card
            .advantages__icon: +svg('check')
            .advantages__header КОМФОРТ
            .advantages__text В индивидуальном проектебудут учтены все пожелания
          .advantages__button
            a.btn(href='#') ЗАКАЗАТЬ ПРОЕКТ

        h6 Что важно учесть при проектировании деревянного дома?

        ul
          li Эргономику пространства
          li Эстетику экстерьера и интерьера
          li Удобство жилого пространства
          li Конструкционные особенности зданий
          li Пожелания заказчика

        h6 С чего начинается проектирование вашего дома?
        p Конечно, с простого человеческого разговора. Вы приходите в наш выставочный дом (он, кстати, с типовой планировкой) и делитесь с нами своими соображениями по поводу будущего дома. Наш менеджер и архитектор подробно расспрашивают вас обо всех нюансах, уточняют детали. Мы вместе с вами планируем дом вашей мечты!#[br]К нам, кстати, часто приходят с уже готовыми макетами, где необходимо что-то поменять. Или с зарисовками на листочке. Это тоже здорово. Любую информацию, которую мы получаем от клиента, мы преобразуем в детальный проект будущего дома.#[br]Также архитектор с клиентом могут пообщаться онлайн.

        h6 Что делать, если нет проекта?
        p Бывает и так, что человек приходит с мечтой о доме, но не представляет, как ее реализовать. Здесь на помощь приходят типовые проекты домов, которые мы показываем клиенты и обсуждаем их. В нашем выставочном доме порядка 50 типовых проектов домов, каждый из которых можно модифицировать под вас.
        p Кстати, наш выставочный дом у Коллажа - отличный пример самого популярного типового проектирования. Вы сможете не только увидеть иллюстрации, но и побывать в вашем будущем доме, пощупать стены и посмотреть расположение комнат.
        p К тому же - у каждого типового проекта - масса вариаций по изменению деталей: мы можем убрать, добавить или расширить окна, сделать панорамные окна, передвинуть стены, поменять расположение и количество дверных проемов. Сделаем всё, чтобы вам было хорошо в вашем доме.

        h5 Наши архитекторы

        .people
          .people__item
            .people__image: img(src='images/people_photo.jpg')
            .people__text
              | Фамилия#[br]
              | Имя Отчество
          .people__item
            .people__image: img(src='images/people_photo.jpg')
            .people__text
              | Фамилия#[br]
              | Имя Отчество
          .people__item
            .people__image: img(src='images/people_photo.jpg')
            .people__text
              | Фамилия#[br]
              | Имя Отчество
          .people__item
            .people__image: img(src='images/people_photo.jpg')
            .people__text
              | Фамилия#[br]
              | Имя Отчество
          .people__item
            .people__image: img(src='images/people_photo.jpg')
            .people__text
              | Фамилия#[br]
              | Имя Отчество

        .share
          .share__label Поделитесь в соц. сетях:
          a.btn.btn--type3(href='#') ВКОНТАКТЕ
          a.btn.btn--type3(href='#') FACEBOOK

      .service__aside

        include ../relatedServices/relatedServices
