.materials
  .c
    .materials__container
      .materials__content
        .materials__arrow
        .materials__texts
          .materials__text.materials__text--active
            div: p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, #[a(href='#') fringilla vel], aliquet nec, vulputate eget, arcu. In enim justo.
            .materials__sub Клей Azko Nobel
          .materials__text
            div: p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo.
            .materials__sub Отбор древесины
          .materials__text
            div: p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo.
            .materials__sub Производство в Кировской области
          .materials__text
            div: p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo.
            .materials__sub Производство окон
          .materials__text
            div: p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo.
            .materials__sub Брус
      .materials__image
        img.lazy(data-src='modules/materials/img/image.jpg' width=438 height=503)
        .materials__labels
          .materials__label.materials__label--1.materials__label--active Клей Azko Nobel
          .materials__label.materials__label--2 Отбор древесины
          .materials__label.materials__label--3 Производство#[br]в Кировской области
          .materials__label.materials__label--4 Производство окон
          .materials__label.materials__label--5 Брус
