.materialInfo
  .c
    .materialInfo__title.h4 100% качественный брус за счет:
    .materialInfo__items
      .materialInfo__item
        .materialInfo__header Древесина
        .materialInfo__text Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
      .materialInfo__item
        .materialInfo__header Клей
        .materialInfo__text Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый.
      .materialInfo__item
        .materialInfo__header Производство
        .materialInfo__text Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый.

    .materialInfo__form
      img.materialInfo__form-img.lazy(data-src='modules/materialInfo/img/phone.png' width=359 height=405)
      .materialInfo__form-title Хотите попасть на онлайн эккурсию по производству?
      .materialInfo__form-text
        p Записывайтесь на экскурсию по skype или zoom, которую проведет наш директор про производству Иванов Иван
      button.btn.btn--type3 УВИДЕТЬ СВОИМИ ГЛАЗАМИ
