.services
  .c
    .services__items
      .services__item
        a.services__card(href='#')
          .services__icon: +svg('wallet')
          .services__text: span Кредитование
      .services__item
        a.services__card(href='#')
          .services__icon: +svg('set-square')
          .services__text: span Индивидуальное проектирование
      .services__item
        a.services__card(href='#')
          .services__icon: +svg('brickwall')
          .services__text: span Строительство домов из кирпича и блоков
      .services__item
        a.services__card(href='#')
          .services__icon: +svg('box')
          .services__text: span Фундаменты Фундаменты
      .services__item
        a.services__card(href='#')
          .services__icon: +svg('roof')
          .services__text: span Кровельные работы
      .services__item
        a.services__card(href='#')
          .services__icon: +svg('paint-roller')
          .services__text: span Отделочные работы
      .services__item
        a.services__card(href='#')
          .services__icon: +svg('helmet')
          .services__text: span Инженерные коммуникации
      .services__item
        a.services__card(href='#')
          .services__icon: +svg('paint-bucket')
          .services__text: span Покраска деревянных домов
      .services__item
        a.services__card(href='#')
          .services__icon: +svg('furnitures')
          .services__text: span Дизайн интерьеров
      .services__item
        a.services__card(href='#')
          .services__icon: +svg('tree')
          .services__text: span Ландшафтный дизайн

