.manufactureSteps
  .c
    .manufactureSteps__item
      .manufactureSteps__content
        .manufactureSteps__label: span ПОДГОТОВКА МАТЕРИАЛА
        .manufactureSteps__title СЫРЬЕ ИЗ СЕВЕРНЫХ РЕГИОНОВ
        .manufactureSteps__text
          p Наша компания получает древесину с собственных лесных делянок. Для производства бруса мы используем древесину хвойных северных пород (ель, сосна и кедр) 1 и И сорта из северных областей - Кировской,Архангельской, Пермского края, Сибирского региона.
          p Мы заготавливаем и вывозим весь лес зимой. Вся влага из дерева уходит в корни и древесина имеет повышенные прочностные свойства.
          p При проверке древесины специалисты отдела технического контроля ХХ (описать как приемка проходит: отбираем древесину по ГОСТ 8486-84 (какие требования), ручную приемку пиломатериала или с помощью силовых и акустических установок).
      .manufactureSteps__aside
        .gallery
          .gallery__slider
            .gallery__items
              .gallery__item
                .manufactureSteps__image(style='background-image: url(images/1_15.jpg)')
              .gallery__item
                .manufactureSteps__image(style='background-image: url(images/1_17.jpg)')
              .gallery__item
                .manufactureSteps__image(style='background-image: url(images/1_18.jpg)')
          .gallery__nav
            button.navBtn.navBtn--prev: +svg('left-arrow')
            button.navBtn.navBtn--next: +svg('left-arrow')

    .manufactureSteps__item
      .manufactureSteps__content
        .manufactureSteps__label: span ПОДГОТОВКА МАТЕРИАЛА
        .manufactureSteps__title СЫРЬЕ ИЗ СЕВЕРНЫХ РЕГИОНОВ
        .manufactureSteps__text
          p Наша компания получает древесину с собственных лесных делянок. Для производства бруса мы используем древесину хвойных северных пород (ель, сосна и кедр) 1 и И сорта из северных областей - Кировской,Архангельской, Пермского края, Сибирского региона.
          p Мы заготавливаем и вывозим весь лес зимой. Вся влага из дерева уходит в корни и древесина имеет повышенные прочностные свойства.
          p При проверке древесины специалисты отдела технического контроля ХХ (описать как приемка проходит: отбираем древесину по ГОСТ 8486-84 (какие требования), ручную приемку пиломатериала или с помощью силовых и акустических установок).
      .manufactureSteps__aside
        .manufactureSteps__image(style='background-image: url(images/1_15.jpg)')

    .manufactureSteps__item
      .manufactureSteps__content
        .manufactureSteps__label: span ПОДГОТОВКА МАТЕРИАЛА
        .manufactureSteps__title СЫРЬЕ ИЗ СЕВЕРНЫХ РЕГИОНОВ
        .manufactureSteps__text
          p Наша компания получает древесину с собственных лесных делянок. Для производства бруса мы используем древесину хвойных северных пород (ель, сосна и кедр) 1 и И сорта из северных областей - Кировской,Архангельской, Пермского края, Сибирского региона.
          p Мы заготавливаем и вывозим весь лес зимой. Вся влага из дерева уходит в корни и древесина имеет повышенные прочностные свойства.
          p При проверке древесины специалисты отдела технического контроля ХХ (описать как приемка проходит: отбираем древесину по ГОСТ 8486-84 (какие требования), ручную приемку пиломатериала или с помощью силовых и акустических установок).
        .manufactureSteps__note
          | Клеввую систему Azko Nobek мы проверяли в экстремальных условиях: высушивали, представляя, что ваш дом будет стоять где-нибудь в жаркой пустыне варили и поливали водой, думая о традиционном дождливом межсезонье в средней полосе. Брусостался в идеальном состоянии! Ни один шов во время искусственного состаривания не пострадал.
      .manufactureSteps__aside
        .manufactureSteps__image(style='background-image: url(images/1_15.jpg)')
