.houses
  .houses__items.popupGallery
    a.houses__item.popupGallery__item(href='images/1_15.jpg' data-index=0 data-width=1200 data-height=900 data-caption='test'): .houses__card
      img(src='images/1_15.jpg')
    a.houses__item.popupGallery__item(href='images/1_17.jpg' data-index=1 data-width=1200 data-height=900): .houses__card
      img(src='images/1_17.jpg')
    a.houses__item.popupGallery__item(href='images/2_30.jpg' data-index=2 data-width=1200 data-height=900): .houses__card
      img(src='images/2_30.jpg')
    a.houses__item.popupGallery__item(href='images/1_17.jpg' data-index=3 data-width=1200 data-height=900): .houses__card
      img(src='images/1_17.jpg')
  //.houses__more
  //  a.btn(href='#') ЗАГРУЗИТЬ ЕЩЕ
