.aboutVideo
  .c
    .aboutVideo__container
      button.aboutVideo__image.video(data-micromodal-trigger="video-modal" data-youtube-id='dQw4w9WgXcQ')
        img(src='modules/aboutVideo/img/image.jpg')
        .video__icon
      .aboutVideo__content
        .aboutVideo__title.h2 Построим#[br]Ваш дом за 45 дней
        .aboutVideo__text
          | И он будет уютным, просторным и экологичным домом из клеёного бруса.


