.menu
  position: relative;
  padding: 80px 0 50px
  +media('md')
    padding: 100px 20px 25px

  &__title
    text-align: center;
    font-weight: 500
    font-size: 36px
    margin-bottom: 50px
    +media('md')
      font-size: 22px
      margin-bottom: 30px

    &:after
      content: ''
      display: block;
      width: 100px
      height: 2px
      background: #e33535
      margin: 6px auto 0
      +media('md')
        width: 60px
        margin-top: 4px

  &__items
    box-shadow 0 10px 106px rgba(#191919, .1)
    +media('md')
      max-width 400px
      margin: 0 auto

  ul
    display: flex;
    margin: 0
    justify-content space-around
    list-style none
    +media('md')
      flex-direction column
      padding: 19px 0 16px

  li
    margin: 0
    +media('md')
      margin-bottom: 5px

    &:before
      display: none;

    &.current-menu-item a
      color: #e33535

      &:after
        height: 2px
        +media('md')
          height: auto;
          width: 2px

  a
    display: block;
    font-weight: normal;
    padding: 26px 0 27px
    position: relative;
    color: #191919
    anim()
    +media('md')
      padding: 4px 0 4px 50px

    &:after
      content: ''
      position: absolute;
      left: 0
      right: 0
      bottom: 0
      height: 0
      background: #e33535
      anim()
      +media('md')
        right: auto;
        top: 0
        height: auto;

    &:hover
      color: #e33535
      border-color: transparent

  &__decor
    display: none;
    width: 60px
    height: 60px
    position: absolute;
    top: 0
    left: 50%
    margin-left: 34px

    &:after
      transform rotate(30deg)

    +media('md')
      display: block;
