.menu
  .c
    .menu__decor.texture
    .menu__title Компания
    .menu__items
      ul
        li.current-menu-item: a(href='#') О компании
        li: a(href='#') Качество и отвественность
        li: a(href='#') Партнеры
        li: a(href='#') Наша команда
