.aboutMeta
  .c
    .aboutMeta__container
      .aboutMeta__content
        .aboutMeta__title.h3 Мы с соц. сетях
        .aboutMeta__text В наши соцсети мы публикуем интересные фотографиисо стройки, советы прораба, отвечаем на вопросы наших читателей.
        .aboutMeta__buttons
          a.btn.btn--type3(href='#') ПОДПИСАТЬСЯ НА INSTAGRAM
          a.btn.btn--type3(href='#') ПОДПИСАТЬСЯ НА ВКОНТАКТЕ
          a.btn.btn--type3(href='#') ПОДПИСАТЬСЯ НА FACEBOOK
      .aboutMeta__image: img(src='modules/aboutMeta/img/phone.png')
      .aboutMeta__news
        include ../relatedNews/relatedNews
