@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/hinted-subset-Montserrat-ExtraLight.eot');
  src: url('../fonts/hinted-subset-Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
          url('../fonts/hinted-subset-Montserrat-ExtraLight.woff2') format('woff2'),
          url('../fonts/hinted-subset-Montserrat-ExtraLight.woff') format('woff'),
          url('../fonts/hinted-subset-Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/hinted-subset-Montserrat-ExtraBoldItalic.eot');
  src: url('../fonts/hinted-subset-Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/hinted-subset-Montserrat-ExtraBoldItalic.woff2') format('woff2'),
          url('../fonts/hinted-subset-Montserrat-ExtraBoldItalic.woff') format('woff'),
          url('../fonts/hinted-subset-Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/hinted-subset-Montserrat-BoldItalic.eot');
  src: url('../fonts/hinted-subset-Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/hinted-subset-Montserrat-BoldItalic.woff2') format('woff2'),
          url('../fonts/hinted-subset-Montserrat-BoldItalic.woff') format('woff'),
          url('../fonts/hinted-subset-Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/hinted-subset-Montserrat-MediumItalic.eot');
  src: url('../fonts/hinted-subset-Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/hinted-subset-Montserrat-MediumItalic.woff2') format('woff2'),
          url('../fonts/hinted-subset-Montserrat-MediumItalic.woff') format('woff'),
          url('../fonts/hinted-subset-Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/hinted-subset-Montserrat-Black.eot');
  src: url('../fonts/hinted-subset-Montserrat-Black.eot?#iefix') format('embedded-opentype'),
          url('../fonts/hinted-subset-Montserrat-Black.woff2') format('woff2'),
          url('../fonts/hinted-subset-Montserrat-Black.woff') format('woff'),
          url('../fonts/hinted-subset-Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/hinted-subset-Montserrat-ExtraLightItalic.eot');
  src: url('../fonts/hinted-subset-Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/hinted-subset-Montserrat-ExtraLightItalic.woff2') format('woff2'),
          url('../fonts/hinted-subset-Montserrat-ExtraLightItalic.woff') format('woff'),
          url('../fonts/hinted-subset-Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/hinted-subset-Montserrat-Italic.eot');
  src: url('../fonts/hinted-subset-Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/hinted-subset-Montserrat-Italic.woff2') format('woff2'),
          url('../fonts/hinted-subset-Montserrat-Italic.woff') format('woff'),
          url('../fonts/hinted-subset-Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/hinted-subset-Montserrat-LightItalic.eot');
  src: url('../fonts/hinted-subset-Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/hinted-subset-Montserrat-LightItalic.woff2') format('woff2'),
          url('../fonts/hinted-subset-Montserrat-LightItalic.woff') format('woff'),
          url('../fonts/hinted-subset-Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/hinted-subset-Montserrat-SemiBold.eot');
  src: url('../fonts/hinted-subset-Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/hinted-subset-Montserrat-SemiBold.woff2') format('woff2'),
          url('../fonts/hinted-subset-Montserrat-SemiBold.woff') format('woff'),
          url('../fonts/hinted-subset-Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/hinted-subset-Montserrat-SemiBoldItalic.eot');
  src: url('../fonts/hinted-subset-Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/hinted-subset-Montserrat-SemiBoldItalic.woff2') format('woff2'),
          url('../fonts/hinted-subset-Montserrat-SemiBoldItalic.woff') format('woff'),
          url('../fonts/hinted-subset-Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/hinted-subset-Montserrat-Light.eot');
  src: url('../fonts/hinted-subset-Montserrat-Light.eot?#iefix') format('embedded-opentype'),
          url('../fonts/hinted-subset-Montserrat-Light.woff2') format('woff2'),
          url('../fonts/hinted-subset-Montserrat-Light.woff') format('woff'),
          url('../fonts/hinted-subset-Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/hinted-subset-Montserrat-Bold.eot');
  src: url('../fonts/hinted-subset-Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/hinted-subset-Montserrat-Bold.woff2') format('woff2'),
          url('../fonts/hinted-subset-Montserrat-Bold.woff') format('woff'),
          url('../fonts/hinted-subset-Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/hinted-subset-Montserrat-Medium.eot');
  src: url('../fonts/hinted-subset-Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
          url('../fonts/hinted-subset-Montserrat-Medium.woff2') format('woff2'),
          url('../fonts/hinted-subset-Montserrat-Medium.woff') format('woff'),
          url('../fonts/hinted-subset-Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/hinted-subset-Montserrat-Regular.eot');
  src: url('../fonts/hinted-subset-Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/hinted-subset-Montserrat-Regular.woff2') format('woff2'),
          url('../fonts/hinted-subset-Montserrat-Regular.woff') format('woff'),
          url('../fonts/hinted-subset-Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/hinted-subset-Montserrat-Thin.eot');
  src: url('../fonts/hinted-subset-Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
          url('../fonts/hinted-subset-Montserrat-Thin.woff2') format('woff2'),
          url('../fonts/hinted-subset-Montserrat-Thin.woff') format('woff'),
          url('../fonts/hinted-subset-Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/hinted-subset-Montserrat-ThinItalic.eot');
  src: url('../fonts/hinted-subset-Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/hinted-subset-Montserrat-ThinItalic.woff2') format('woff2'),
          url('../fonts/hinted-subset-Montserrat-ThinItalic.woff') format('woff'),
          url('../fonts/hinted-subset-Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/hinted-subset-Montserrat-ExtraBold.eot');
  src: url('../fonts/hinted-subset-Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/hinted-subset-Montserrat-ExtraBold.woff2') format('woff2'),
          url('../fonts/hinted-subset-Montserrat-ExtraBold.woff') format('woff'),
          url('../fonts/hinted-subset-Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/hinted-subset-Montserrat-BlackItalic.eot');
  src: url('../fonts/hinted-subset-Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/hinted-subset-Montserrat-BlackItalic.woff2') format('woff2'),
          url('../fonts/hinted-subset-Montserrat-BlackItalic.woff') format('woff'),
          url('../fonts/hinted-subset-Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

