.quizHeader
  .c
    .quizHeader__top
      img.quizHeader__logo-img(src='modules/quizHeader/img/logo.png' srcset='modules/quizHeader/img/logo@2x.png 2x')
      img.quizHeader__logo-text(src='modules/quizHeader/img/text.png' srcset='modules/quizHeader/img/text@2x.png 2x')
      .quizHeader__logo-note СТРОИМ#[br]И ПРОИЗВОДИМ#[br]ДОМА
      .quizHeader__aside
        a.quizHeader__phone(href='#')
          +svg('phone')
          | 8 800 201 55 09
        .quizHeader__phone-label звонок по РФ бесплатный

    .quizHeader__content
      h1.quizHeader__title #[span Бесплатно] подберите идеальный проект вашего дома за 3 минуты

      .quizHeader__banner
        .quizHeader__banner-text #[span ОТВЕТЬТЕ НА 5 ВОПРОСОВ] о том, какие пожелания должны быть учтены в будущем доме
        .quizHeader__banner-note И ПОЛУЧИТЕ БЕСПЛАТНЫЙ ГОТОВЫЙ ПРОЕКТ + 2 ПОДАРКА

      .quizHeader__labels
        .quizHeader__label
          .quizHeader__label-number: span 14 лет
          .quizHeader__label-text работает собственное#[br]производство#[br]в Кировской области
        .quizHeader__label
          .quizHeader__label-number: span > 200
          .quizHeader__label-text готовых#[br]проектов

      .quizHeader__button
        a.btn(href='#') ПОДОБРАТЬ ДОМ

