.quizHeader
  padding: 34px 0 49px
  background: url(img/bg.jpg) 50% no-repeat
  background-size: cover
  color: $white
  +media('md')
    padding-top: 20px
    background-image: url(img/bg-sm.jpg)

  &__top
    display: flex;
    align-items center
    margin-bottom: 35px
    padding-left: 8px
    +media('md')
      margin-bottom: 21px

  &__aside
    margin-left: auto;

  &__logo
    &-text
      margin-left: 5px
      +media('md')
        display: none;

    &-note
      font-size: 9px
      letter-spacing .3em
      line-height: 1.7
      font-weight: 500
      margin-left: 21px;
      padding-left: 23px;
      border-left 1px solid rgba($white, .2);
      +media('md')
        display: none;

  &__phone
    position: relative;
    display: block;
    line-height: 1
    font-size: 24px
    font-weight: 500
    color: $white
    border: 0
    padding-left: 30px
    padding-top: 5px
    +media('md')
      font-size: 16px

    svg
      display: block;
      position: absolute;
      left: 0
      top: 6px
      width: 24px
      height: 24px
      fill $brown1

    &-label
      font-size: 13px
      letter-spacing 0
      text-align: right;
      color: rgba($white, .3)
      +media('md')
        font-size: 9px

      &:after
        content ''
        display: inline-block;
        vertical-align: middle;
        width: 7px
        height: 7px
        border-radius: 50%
        background: #17bd2e
        margin-left: 8px
        animation quizHeaderPhoneLabel 3s ease-out infinite

  &__content
    display: flex;
    flex-direction column
    align-items center
    text-align: center;
    max-width 830px
    margin: 0 auto

  &__title
    font-size: 44px
    line-height: 1.2
    margin-bottom: 26px
    +media('md')
      font-size: 22px
      margin-bottom: 21px

    span
      color: $brown1

  &__banner
    overflow: hidden;
    position: relative;
    background: $brown2
    max-width 700px
    margin-bottom: 27px
    +media('md')
      margin-bottom: 20px

    &:before, &:after
      content ''
      position: absolute;
      background: url(../../images/wood-bg.png)
      width: 539px
      height: 535px
      transform rotate(90deg)
      opacity: .1
      pointer-events none

    &:before
      top: -250px;
      left: -319px;

    &:after
      top: -181px;
      right: -435px;

    &-text
      position: relative;
      z-index: 1
      padding: 17px 80px 19px
      font-size: 20px
      line-height: 1.3
      letter-spacing 0
      +media('md')
        font-size: 13px
        padding: 11px 20px 14px

      span
        font-weight: 500

      &:before, &:after
        content ''
        position: absolute;
        pointer-events none
        z-index: -1

      &:before
        background: url(img/house-02.png)
        width 209px
        height 114px
        top: 18px;
        left: -104px;
        +media('md')
          top: 25px
          left: -110px

      &:after
        background: url(img/house-01.png)
        width 138px
        height 84px
        top: 24px;
        right: -65px;
        +media('md')
          top: 32px;
          right: -79px;

    &-note
      position: relative;
      z-index: 1
      background: $brown1
      font-weight: 800
      letter-spacing .2em
      padding: 6px 15px 9px
      +media('md')
        font-size: 10px
        line-height: 1.4
        padding: 6px 15px 8px

  &__labels
    display: flex;
    justify-content center
    align-items center
    margin-bottom: 32px
    +media('md')
      flex-direction column
      align-items flex-start
      width: 100%
      margin-bottom: 15px

  &__label
    display: flex;
    align-items center
    margin: 0 25px
    +media('md')
      margin: 0 0 9px

    &-number
      position: relative;
      border: 2px solid $brown2
      border-right: 0
      font-size: 32px
      line-height: 1
      font-weight: bold;
      padding: 8px 21px 9px 17px
      margin-right: 23px
      margin-top: 4px
      text-align: left;
      +media('md')
        font-size: 16px
        margin-top 0
        padding: 7px 0 7px 8px
        width: 73px
        margin-right: 14px

      &:before, &:after
        content: ''
        position: absolute;
        width: 2px
        height: 17px
        background: $brown2
        right: 0
        +media('md')
          height: 9px

      &:before
        top: 0

      &:after
        bottom: 0

      span
        letter-spacing 0

        &:before, &:after
          content: ''
          position: absolute;
          width: 2px
          background: $brown2
          right: 0

        &:before
          top: 14px;
          right: -3px;
          height: 11px
          transform: rotate(-40deg);
          +media('md')
            top: 8px;
            right: -2px;
            height: 7px;

        &:after
          bottom: 15px;
          right: -4px;
          height: 12px;
          transform: rotate(40deg);
          +media('md')
            bottom: 8px;
            right: -2px;
            height: 9px;

    &-text
      text-align: left;
      line-height: 1.4
      letter-spacing 0
      +media('md')
        font-size: 10px

  &__button
    position: relative;

    & .btn
      position: relative;
      overflow: hidden;

      &:after
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        background: linear-gradient(90deg, hsla(0, 0%, 100%, .1) 10%, hsla(0, 0%, 100%, .2) 20%, hsla(0, 0%, 100%, .6));
        width: 20px;
        transform: skewX(-45deg);
        left: -20%;
        transition: all 3s ease;
        animation: quizHeaderButton 6s ease-out infinite

    &:before
      content ''
      position: absolute;
      background: url(img/arrow.png)
      width 300px
      height 243px
      right: 100%
      margin-right: 19px;
      top: -188px;
      +media('md')
        background: url(img/arrow-sm.png)
        width 37px
        height 105px
        right: auto;
        left: 100%
        margin-right: 0
        margin-left: 3px;
        top: -116px;

@keyframes quizHeaderPhoneLabel
  0%
    box-shadow 0 0 7px #17bd2e
  50%
    box-shadow 0 0 7px 3px #17bd2e
  100%
    box-shadow 0 0 7px #17bd2e

@keyframes quizHeaderButton
  15%, to {
    left: 120%
  }
