.projectPlan
  .c
    .projectPlan__title.h4 Планировка дома «Неаполь»
    .projectPlan__plans
      .projectPlan__plan
        .projectPlan__img: img(src='modules/projectPlan/img/plan_01.png')
        .projectPlan__info
          .projectPlan__name План первого этажа
          .projectPlan__label 150 м#[sup 2]
      .projectPlan__plan
        .projectPlan__img: img(src='modules/projectPlan/img/plan_02.png')
        .projectPlan__info
          .projectPlan__name План второго этажа
          .projectPlan__label 110 м#[sup 2]

    .projectPlan__form
      img.projectPlan__form-img.lazy(data-src='modules/projectPlan/img/house.png')
      img.projectPlan__form-img-sm.lazy(data-src='modules/projectPlan/img/house-sm.png')
      .projectPlan__form-title Хотите изменить планировку?
      .projectPlan__form-text
        p Запишитесь на встречу с одним из наших архитекторов, на которой учтем все пожелания и посоветуем лучшее решение в конструктивном плане.
      button.btn.btn--type3 ИЗМЕНИТЬ ПЛАНИРОВКУ
