.leadPresent
  .c
    h2.leadPresent__title Приходите к нам в гости!#[br]И получите подарки!
    .leadPresent__items
      .leadPresent__item
        .leadPresent__card
          .leadPresent__header.h4 Скидка 70%#[br]на эскиз дома
          .leadPresent__sub
            .leadPresent__label
              | 50 руб/м#[sup 2]
            .leadPresent__note: s 150 руб/м#[sup 2]
          img.leadPresent__image.leadPresent__image--01(src='modules/leadPresent/img/leadPresent-01.png')

      .leadPresent__item
        .leadPresent__card.leadPresent__card--bg2
          .leadPresent__sub
            .leadPresent__label ЧЕК-ЛИСТ
          .leadPresent__header.h4 «8 признаков качественного бруса»
          .leadPresent__text
            p Используя этот ЧЕК-ЛИСТ, вы#[br]сможете сами оценить качество#[br]бруса
          img.leadPresent__image.leadPresent__image--02(src='modules/leadPresent/img/leadPresent-02.png')
          img.leadPresent__image.leadPresent__image--03(src='modules/leadPresent/img/leadPresent-03.png')
    .leadPresent__button
      button.btn.btn--type3 ЗАПИШИТЕСЬ НА ЭКСКУРСИЮ
