.manufactureVideo
  margin: 107px 0 120px
  +media('md')
    margin: 51px 0 60px

  &__title
    text-align: center;
    margin-bottom: 34px
    +media('md')
      margin-bottom: 22px

  &__video
    max-width 770px
    margin: 0 auto

