.manufactureVideo
  .c
    .manufactureVideo__title.h2 Процесс изготовления

    .manufactureVideo__video(data-youtube-id="dQw4w9WgXcQ")
      button.video()
        img(src='images/1_15.jpg')
        .video__icon
