.newsItem
  .c
    .newsItem__container
      .newsItem__content.content
        p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комнат.
        .gallery
          .gallery__slider
            .gallery__items
              .gallery__item: img(src='images/1_15.jpg')
              .gallery__item: img.swiper-lazy(data-src='images/1_17.jpg')
              .gallery__item: img.swiper-lazy(data-src='images/1_18.jpg')
          .gallery__nav
            button.navBtn.navBtn--prev: +svg('left-arrow')
            button.navBtn.navBtn--next: +svg('left-arrow')

        h4 Подзаголовок
        p Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку. На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука. Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подокон
        blockquote На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую.
        p Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку. На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука. Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подокон
        .bullets
          .bullets__item: .bullets__card
            .bullets__label Общая площадь
            .bullets__value 178 м#[sup 2]
          .bullets__item: .bullets__card
            .bullets__label Время на строительство:
            .bullets__value 4 месяца
          .bullets__item: .bullets__card
            .bullets__label Человек в бригаде:
            .bullets__value 9

        p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комнат.

        .icons
          .icons__item
            +svg('single-bed')
            | 5 Спален
          .icons__item
            +svg('bath')
            | 3 Санузла
          .icons__item
            +svg('terrace')
            | 2 Терассы
          //.icons__item
          //  +svg('single-bed')
          //  | 5 Спален
          //.icons__item
          //  +svg('bath')
          //  | 3 Санузла
          //.icons__item
          //  +svg('terrace')
          //  | 2 Терассы
          //.icons__item
          //  +svg('single-bed')
          //  | 5 Спален
          //.icons__item
          //  +svg('bath')
          //  | 3 Санузла
          //.icons__item
          //  +svg('terrace')
          //  | 2 Терассы

        p Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку. На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука. Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подокон

        .share
          .share__label Поделитесь в соц. сетях:
          .share__items#share(data-services="vkontakte,facebook,moimir")
          //a.btn.btn--type3(href='#') ВКОНТАКТЕ
          //a.btn.btn--type3(href='#') FACEBOOK

      .newsItem__aside
        include ../relatedNews/relatedNews
