.relatedServices
  .relatedServices__header
    a.link(href='#') все услуги

  a.relatedServices__item(href='#')
    .relatedServices__icon: +svg('set-square')
    .relatedServices__text: span Индивидуальное проектирование

  a.relatedServices__item(href='#')
    .relatedServices__icon: +svg('tree')
    .relatedServices__text: span Ландшафтный дизайн

