.featuredProject
  .c
    .featuredProject__content
      .featuredProject__main
        .featuredProject__title.h2 Проект для НОВОТЕКА
        .featuredProject__subtitle БАЗА ОТДЫХА ДЛЯ СОТРУДНИКОВ НОВОТЕКА В НОВОМ УРЕНГОЕ.
        .featuredProject__gallery
          .gallery
            .gallery__slider
              .gallery__items
                .gallery__item: img.swiper-lazy(data-src='images/1_15.jpg')
                .gallery__item: img.swiper-lazy(data-src='images/1_17.jpg')
                .gallery__item: img.swiper-lazy(data-src='images/1_18.jpg')
            .gallery__nav
              button.navBtn.navBtn--prev: +svg('left-arrow')
              button.navBtn.navBtn--next: +svg('left-arrow')

      .featuredProject__aside
        .featuredProject__cards
          .featuredProject__card
            .featuredProject__card-text Общая площадь#[br]построенных объектов
            .featuredProject__card-big 631 м#[sup 2]
          .featuredProject__card
            .featuredProject__card-text Базу отдыха#[br]построили
            .featuredProject__card-big ЗА 4 МЕСЯЦА

        .featuredProject__text
          h6 ЧТО ПОСТРОЕНО:
          ul
            li банный комплекс
            li 4 гостевых дома
            li дом для сотрудников
            li гараж
            li большая и малая беседка
          p В Новом Уренгое земля промерзает на 3 метра,поэтому для фундамента сваи забивались на глубину 6 м.
          p Температура зимойопускается до -45 С.

    .h6 ОТБОР ПОДРЯДЧИКА ПРОХОДИЛ В 2 ЭТАПА ИЗ 12 СТРОИТЕЛЬНЫХ КОМПАНИЙ.
    .featuredProject__steps
      .featuredProject__step
        .featuredProject__step-title ПЕРВЫЙ ЭТАП
        p Отбирали 3 компании из 12 и оценивали разработанный проект, его продуманность и ценовое предложение.

      .featuredProject__step.featuredProject__step--wide
        .featuredProject__step-title ВТОРОЙ ЭТАП
        p представители Новотека оценивали профессионализм, оборудованиеи площадь производства, качество бруса, смотрели, как функционирует производство, анализировали финансовые показатели фирмы, проверяли юридическую чистоту потенциального подрядчика.

