.manufactureBullets
  .c
    .manufactureBullets__items
      .manufactureBullets__item
        .manufactureBullets__icon: +svg('tree_2')
        .manufactureBullets__title Заголовок преимущества
        .manufactureBullets__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
      .manufactureBullets__item
        .manufactureBullets__icon: +svg('tree_2')
        .manufactureBullets__title Заголовок преимущества
        .manufactureBullets__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
      .manufactureBullets__item
        .manufactureBullets__icon: +svg('tree_2')
        .manufactureBullets__title Заголовок преимущества
        .manufactureBullets__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
      .manufactureBullets__item
        .manufactureBullets__icon: +svg('tree_2')
        .manufactureBullets__title Заголовок преимущества
        .manufactureBullets__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
