.manufacture
  .c
    .manufacture__title.h1 Свое производство
    .manufacture__items
      .manufacture__item
        .manufacture__icon: +svg('tree_2')
        .manufacture__header #[span 567] га
        .manufacture__content Собственного#[br]леса
      .manufacture__item
        .manufacture__icon: +svg('wood')
        .manufacture__header #[span 2520] м#[sup 2]
        .manufacture__content Площадь складских#[br]помещений
      .manufacture__item
        .manufacture__icon: +svg('saw')
        .manufacture__header #[span 588] м#[sup 2]
        .manufacture__content Собственное#[br]производство
      .manufacture__item
        .manufacture__icon: +svg('carpentry')
        .manufacture__header с #[span 2006] г.
        .manufacture__content Работает#[br]производство
      .manufacture__item
        .manufacture__icon: +svg('finger')
        .manufacture__header #[span 94] %
        .manufacture__content Приходят к нам#[br]по рекомендациям
