.manufacture
  padding: 53px 0 0
  position: relative;
  +media('md')
    padding: 17px 0 60px
    overflow: hidden;

  &:before
    content: ''
    position: absolute;
    background: url(img/manufacture-map.png)
    width 956px
    height 521px
    background-size: cover
    bottom: 38px;
    left: 50%;
    margin-left: -583px
    +media('md')
      width: 536px
      height: 293px
      bottom: 18px;
      margin-left: -167px;

  &__title
    margin-bottom: 55px
    +media('md')
      text-align: center;
      margin-bottom: 22px

  &__items
    position: relative;
    z-index: 1
    display: flex;
    flex-wrap wrap
    justify-content flex-end
    +media('md')
      margin: 0 -20px

    &:before
      content: ''
      width: 300px
      +media('lg')
        display: none;

  &__item
    width: 300px
    height: 280px
    padding: 50px
    background: $grey1
    anim()
    +media('md')
      width: 50%
      height: auto;
      padding: 40px 20px 36px 30px

    &:nth-child(2n)
      background: $grey2

    +media('lg')
      &:nth-child(4n + 3)
        background: $grey2
      &:nth-child(4n + 4)
        background: $grey1
      &:nth-child(5n)
        background: $grey2

      &:hover
        background: $brown2

        & ^[0]__header, & ^[0]__content
          color: $white

        & ^[0]__icon svg
          fill: $brown1

    &:hover
      background: $brown2

      & ^[0]__header, & ^[0]__content
        color: $white

      & ^[0]__icon svg
        fill: $brown1

  &__icon
    margin-bottom: 4px
    +media('md')
      margin-bottom: 0

    svg
      fill $brown2
      height: 40px
      width: 40px
      anim()

  &__header
    font-size: 28px
    font-weight: bold;
    color: $brown1
    anim()
    +media('md')
      font-size: 16px

    span
      font-size: 50px
      +media('md')
        font-size: 26px

  &__content
    margin-top: 7px
    anim()
    +media('md')
      margin-top: 0
      line-height: 1.5
