.contactsPhones
  .c
    .contactsPhones__items
      .contactsPhones__item
        .contactsPhones__label Контактный телефон
        a.contactsPhones__value(href='#') 8 800 201 55 09
        .contactsPhones__link: a.link(href='#') заказать обратный звонок

      .contactsPhones__item
        .contactsPhones__label Email почта:
        a.contactsPhones__value(href='#') info@inbrus.ru
        .contactsPhones__link: a.link(href='#') напишите нам

