.material
  .c
    .material__title.h2 За что мы любим клееный брус?
    .material__items
      .material__item
        .material__icon: +svg('like')
        .material__header Усадка не более 1%
        .material__text Можно заселиться в дома сразу после строительства.
      .material__item
        .material__icon: +svg('hourglass')
        .material__header Строим за 1,5 месяца
        .material__text Высокая скорость постройки.
      .material__item
        .material__icon: +svg('water')
        .material__header 10-12% влажность бруса
        .material__text Брус не подвержен образованию глубоких трещим.
      .material__item
        .material__icon: +svg('sun')
        .material__header В таком доме тепло
        .material__text Отличные теплоизоляционные свойства позволяют экономить 10-15% на приобретении отопительного оборудования.
      .material__item
        .material__icon: +svg('feather')
        .material__header Сооружениеотносительно легкое
        .material__text Значительная  экономия при укладке фундамента.
      .material__item
        .material__icon: +svg('crown')
        .material__header Эстетика
        .material__text Внешняя и внутреняяотделка не требуется

