.reasons
  .c
    .reasons__title.h1 #[span За что] клиенты#[br]выбирают наши дома
  .reasons__items
    .reasons__item
      .reasons__aside
        .reasons__image.lazy(data-bg='images/1_15.jpg')
      .reasons__content: .reasons__text
        .reasons__header ЗА ВОПЛОЩЕНИЕ ВСЕХ ПОЖЕЛАНИЙ
        p Архитекторы и конструкторы воплощают мечту клиента в реальность с корректировкой на безопасность, конструктивность, расчет нагрузок, удобность планировки.
        p Имея свое собственное архитектурное бюро, мы можем давать низкую стоимость на проектирование, быстрые сроки разработки и измения по проекту.

    .reasons__item
      .reasons__aside
        .gallery
          .gallery__slider
            .gallery__items
              .gallery__item
                .reasons__image.swiper-lazy(data-background='images/1_15.jpg')
              .gallery__item
                .reasons__image.swiper-lazy(data-background='images/1_17.jpg')
              .gallery__item
                .reasons__image.swiper-lazy(data-background='images/1_18.jpg')
          .gallery__nav
            button.navBtn.navBtn--prev: +svg('left-arrow')
            button.navBtn.navBtn--next: +svg('left-arrow')
      .reasons__content: .reasons__text
        .reasons__header ЗА СКОРОСТЬ ПОСТРОЙКИ
        ul
          li От 7 до 45 дней занимает у нас постройка дома из клееного бруса.
          li 45 дней изготавливается сам стенокомплект на производстве. 
        p НУЖНО СРОЧНО? Можно и не ждать 45 дней на изготовление, на складе есть запасы бруса и их достаточно, чтоб построить типовой дом.
        p ПРИМЕР: мы построили ипподром за 10 дней, базу отдыха из 9 сооружений за 4 месяца

    .reasons__item
      .reasons__aside
        .reasons__image.lazy(data-bg='images/1_15.jpg')
      .reasons__content: .reasons__text
        .reasons__header ЗА ТЕПЛО И УЮТ
        p Мы всегда обзваниваем наших клиентов с вопросами все ли у них хорошо, тепло ли им. И им даже жарко, с учетом того что зимы стали значительно теплее, мы рекомендуем строить дома в средней полосе из 202 бруса.
        p Пример: дом из бруса 202 в Екатеринбурге 160 м2 зимой при - 45 отапливался электрическим котлом и дети при этом бегали по дом босиком!

    .reasons__item
      .reasons__aside
        .reasons__image.lazy(data-bg='images/1_15.jpg')
      .reasons__content: .reasons__text
        .reasons__header ЗА ПОЖАРНУЮ БЕЗОПАСНОСТЬ
        p За историю нашей компании с 2006 гв построенных нами домах не было ни одного пожара.
        p Главное в таком доме уделить внимание запасу сечений кабеля, электрическим щиткам, автоматам, заземлению, молниезащите.
        p Для усиления пожаробезопасности и устойчивости объектов из клееного бруса используется противопожарная обработка домов антипирены.
        p Посмотрете сравнение по пожаробезопасности клееного бруса с другими материалами #[a(href='#') ТУТ]

    .reasons__item
      .reasons__aside
        .reasons__image.lazy(data-bg='images/1_15.jpg')
      .reasons__content: .reasons__text
        .reasons__header ЗА 10 ЛЕТ ЗАБОТЫ О ДОМЕ
        p Мы даем реальную гарантию на наши дома 10 лет без подводных камней и скрытых условий.
        p Наш мастер ежегодно выезжает на объект для регулировки домкратов, контроля стропильной системы, оценки состояния фундамента.
        p Таким образом усадка проходит равномерно, а дом становиться долговечным.

    .reasons__item
      .reasons__aside
        .reasons__image.lazy(data-bg='images/1_15.jpg')
      .reasons__content: .reasons__text
        .reasons__header ЗА ВОЗМОЖНОСТЬ УВИДЕТЬВСЕ СВОИМИ ГЛАЗАМИ
        p Лучше 1 раз показать, чем 100 раз рассказать. Поэтому мы предалагаем нашим клиентам выехать на любой строящийся объект.  Клиенты могут увидеть, как мы строим, как работает бригада, а так же задать все вопросы по строительству прорабу.

    .reasons__item
      .reasons__aside
        .reasons__image.lazy(data-bg='images/1_15.jpg')
      .reasons__content: .reasons__text
        .reasons__header ЗА ЗАПАХ ДЕРЕВА
        p Каждый посетитель нашего демонстрационного дома отмечает, как легко дышиться в офисе, какой неповторимый теплый и уютный аромат дерева.
        p На вопрос - Почему Вы выбрали нашу компанию для строительства дома? Мы слышим ответ - После посещения офиса мы наглядно увидели, как будем жить в таком доме и как будем дышать дышаться в нашем будущем доме.

  .reasons__action
    a.btn(href='#') ХОЧУ ПОСЕТИТЬ ДЕМОНСТРАЦИОННЫЙ ДОМ
