.press
  .c
    .press__title.h1 В прессе о нас:
    .press__items
      .press__item
        .press__card
          .press__date 12 апрелся 2020
          .press__header НАЗВАНИЕ ИЗДАНИЯ
          .press__text: div Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
          .press__btn: a.btn.btn--50(href='#') ПОДРОБНЕЕ

      .press__item
        .press__card
          .press__date 12 апрелся 2020
          .press__header НАЗВАНИЕ ИЗДАНИЯ
          .press__text: div Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
          .press__btn: a.btn.btn--50(href='#') ПОДРОБНЕЕ

      .press__item
        .press__card
          .press__date 12 апрелся 2020
          .press__header НАЗВАНИЕ ИЗДАНИЯ
          .press__text: div Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
          .press__btn: a.btn.btn--50(href='#') ПОДРОБНЕЕ

