.housesMap
  .h4.housesMap__title География строительства
  .housesMap__map
    .housesMap__marker(style='top: 182px; left: 105px;')
    .housesMap__marker(style='top: 210px; left: 108px;')
    .housesMap__marker(style='top: 221px; left: 88px;')
    .housesMap__marker(style='top: 256px; left: 114px;')
    .housesMap__marker(style='top: 273px; left: 149px;')
    .housesMap__marker(style='top: 292px; left: 130px;')
    .housesMap__marker(style='top: 300px;left: 160px')
    .housesMap__marker(style='top: 305px; left: 0px;')
    .housesMap__marker(style='top: 334px; left: 18px;')
    .housesMap__marker(style='top: 243px; left: 445px;')
