footer.footer
  .c: .footer__top
    .footer__left
      img.footer__logo(src='modules/footer/img/logo.png')
      .footer__meta Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.

    .footer__menu
      ul
        li: a(href='#') Компания
        li: a(href='#') Проекты
        li: a(href='#') Производство
        li: a(href='#') Построенные дома
        li: a(href='#') Услуги
        li: a(href='#') Контакты

    .footer__right
      .footer__phone: a(href='#') 8 800 201 55 09
      .footer__place
        +svg('placeholder')
        .footer__label ОФИС ПРОДАЖ:
        .footer__name выставочный дом из клееного бруса
        .footer__address Россия, г. Москва, Новорижское шоссе, 10 км от МКАД ТВЦ «Балтик Бриз»
      .footer__place
        +svg('placeholder')
        .footer__label ОФИС ПРОДАЖ:
        .footer__name выставочный дом из клееного бруса
        .footer__address Россия, г. Пенза, Проспект Строителей,1В ТРК «Коллаж»
      .footer__place
        +svg('placeholder')
        .footer__label ОФИС ПРОДАЖ:
        .footer__address Россия, г. Сочи, ул. Ленина 96
      .footer__place
        +svg('placeholder')
        .footer__label ОФИС ПРОДАЖ:
        .footer__address Россия, Пензенская область, г. Кузнецк,ул. Белинского 8А, офис 202

    .footer__contact
      .footer__email-label EMAIL:
      a.footer__email(href='mailto:info@inbrus.ru') INFO@INBRUS.RU
      .footer__socials
        a.footer__social(href='#') ВКОНТАКТЕ
        a.footer__social(href='#') FACEBOOK
        a.footer__social(href='#') INSTAGRAM

  .footer__bottom
    .c
      .footer__copyright 2020 © Все права защищены
      .footer__links
        a.footer__link(href='#') Условия использования
        button.footer__link(data-micromodal-trigger="politic-modal") Политика конфиденциальности
