.projectRelated
  padding: 48px 0 0
  +media('md')
    padding: 26px 0 0

  &__title
    margin-bottom: 56px
    +media('md')
      margin-bottom: 21px

  &__items
    display: flex;
    flex-wrap wrap
    justify-content center
    margin: 0 -1px

  &__item
    width: 33.3333%
    padding: 1px
    +media('lg')
      width: 50%
    +media('md')
      width: 100%
