.projectRelated
  .c
    .projectRelated__title.h1 Похожие проекты
  .projectRelated__items
    .projectRelated__item: +card('images/1_15.jpg')
    .projectRelated__item: +card('images/1_17.jpg')
    .projectRelated__item: +card('images/1_15.jpg')

