extends pug/_layout

block body
  include modules/welcomeSlider/welcomeSlider
  include modules/about/about
  include modules/manufacture/manufacture
  include modules/materials/materials
  include modules/frontProjects/frontProjects
  include modules/calculator/calculator
  include modules/reasons/reasons
  include modules/featuredProject/featuredProject
  include modules/press/press

