.aboutWork
  .c
    .aboutWork__title.h2 Как мы работаем

    .aboutWork__item
      .aboutWork__aside
        .aboutWork__image: img(src='modules/aboutWork/img/photo.jpg')
        .aboutWork__label: span МЕНЕДЖЕРЫ
      .aboutWork__content
        p Я, Мария Яблокова, - директор компании Имбрус. Опыт работы в строительном направлении 10 лет. Приглашаю вас в наш демонстрационный дом-офис, в котором вас встретят наши менеджеры и я.
        p Наша команда старается помочь заказчику с выбором материалов для строительства, обсуждает и корректирует смету, выясняет, какие есть пожелания и замечания.
        p Мы ценим время наших заказчиков и понимаем их занятость, поэтому ваш персональный менеджер на связи до 22.00.
        .aboutWork__sub Рада вас видеть в нашем демонстрационном доме.

    .aboutWork__item
      .aboutWork__aside
        .aboutWork__image: img(src='modules/aboutWork/img/photo.jpg')
        .aboutWork__label: span АРХИТЕКТОРЫ
      .aboutWork__content
        p Я  - Ксения Мотрыч, я работаю начальником архитектурного бюро в компании «Инбрус». Опыт работы со строительством деревянных домов ХХ лет.
        p У нас работает 5 архитекторов и конструкторов, поэтому разработка индивидуального  проекта занимает всего Х дней, внесение изменений от Х минут.
        p За 10 лет на счету наших специалистов более 200 типовых и индивидуальных проектов.
        p Архитекторы и конструкторы - воплощают мечту клиент в реальность с корректировкой на безопасность, конструктивность, расчет нагрузок, удобность планировки и внешний вид.
        p Поэтому не бойтесь фантазировать, мы всегда поможем спроектировать все желания с учетом техники безопасности.
        .aboutWork__sub До скорых встреч!

    .aboutWork__item
      .aboutWork__aside
        .aboutWork__image: img(src='modules/aboutWork/img/photo.jpg')
        .aboutWork__label: span СТРОИТЕЛИ
      .aboutWork__content
        p Меня зовут Андрей ХХ, работаю прорабом в Московском офисе компании. Опыт ХХ лет. И мой коллега в Пензе Андрей ХХ, опыт ХХ лет.
        p Мы готовы встретиться с вами и обсудить все вопросы, касаемые стройки.
        p Мы гарантируем высокий уровень строительства, ведь в нашей компании  15 бригад , которые мы отбирали более 8 лет. В бригадах работают плотники со стажем более 20 лет, бригады все сформированы и работают неизменным составом на протяжении нескольких лет.
        .aboutWork__sub Приезжайте к нам на стройку!

    .aboutWork__item
      .aboutWork__aside
        .aboutWork__image: img(src='modules/aboutWork/img/photo.jpg')
        .aboutWork__label
          span ПОДБОР ОКОН
          span СОБСТВЕННОГО
          span ПРОИЗВОДСТВА
      .aboutWork__content
        p Меня зовут Татьяна Жуга, я всегда рада помочь с выбором пластиковых окон. Так случилось, что я сначала выбрала эти окна, как клиент, а потом пришла работать в компанию Инбрус. Я ценю окна нашего производства за экологичность, энергоэффективность, звукоизоляцию выгодную цену и большой выбор цветовых и дизайнерских решений.
        .aboutWork__sub До встречи в офисе Инбрус!


