.news
  .news__items
    a.news__item(href='#')
      .news__card: .news__content
        .news__date 12 апрелся 2020
        .news__title Закончили реализацию проекта
        .news__text
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque nec ...
        .link подробнее
      .news__img: div.lazy(data-bg='images/1_15.jpg')
    a.news__item(href='#')
      .news__card: .news__content
        .news__date 12 апрелся 2020
        .news__title Закончили реализацию проекта
        .news__text
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque nec ...
        .link подробнее
      .news__img: div.lazy(data-bg='images/1_15.jpg')
    a.news__item(href='#')
      .news__card: .news__content
        .news__date 12 апрелся 2020
        .news__title Закончили реализацию проекта
        .news__text
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque nec ...
        .link подробнее
      .news__img: div.lazy(data-bg='images/1_15.jpg')
