.contacts
  .c
    .contacts__items
      .contacts__item.contacts__item--active
        .contacts__content
          +svg('placeholder')
          .contacts__label ОФИС ПРОДАЖ:
          .contacts__note выставочный дом из клееного бруса
          .contacts__address Россия, г. Москва, Новорижское шоссе, 10 км от МКАД ТВЦ «Балтик Бриз»
        .contacts__map: .map(data-center='[55.806824, 37.381958]' data-address='Россия, г. Москва, Новорижское шоссе, 10 км от МКАД ТВЦ «Балтик Бриз»')
      .contacts__item
        .contacts__content
          +svg('placeholder')
          .contacts__label ОФИС ПРОДАЖ:
          .contacts__note выставочный дом из клееного бруса
          .contacts__address Россия, г. Пенза, Проспект Строителей,1В ТРК «Коллаж»
        .contacts__map: .map(data-center='[53.220241, 44.951110]' data-address='Россия, г. Пенза, Проспект Строителей,1В ТРК «Коллаж»')
      .contacts__item
        .contacts__content
          +svg('placeholder')
          .contacts__label ОФИС ПРОДАЖ:
          .contacts__address Россия, г. Сочи, ул. Ленина 96
        .contacts__map: .map(data-center='[43.434244, 39.914520]' data-address='Россия, г. Сочи, ул. Ленина 96')
      .contacts__item
        .contacts__content
          +svg('placeholder')
          .contacts__label ОФИС ПРОДАЖ:
          .contacts__address Россия, Пензенская область, г. Кузнецк,ул. Белинского 8А, офис
        .contacts__map: .map(data-center='[53.124258, 46.568772]' data-address='Россия, Пензенская область, г. Кузнецк,ул. Белинского 8А, офис')
