.welcomeSlider
  .welcomeSlider__slider
    .welcomeSlider__items
      .welcomeSlider__item(style='background-image: url(images/1_15.jpg)')
        .welcomeSlider__content: .c
          .welcomeSlider__label 158 м#[sup 2]
          .welcomeSlider__title Дом «Неаполь»
          .welcomeSlider__desc Цена снижена на 400 тыс. руб.
          .welcomeSlider__btn: a.btn.btn--type4(href='#') ПОДРОБНЕЕ

      .welcomeSlider__item(style='background-image: url(images/1_17.jpg)')
        .welcomeSlider__content: .c
          .welcomeSlider__label 158 м#[sup 2]
          .welcomeSlider__title Дом «Неаполь»
          .welcomeSlider__desc Цена снижена на 400 тыс. руб.
          .welcomeSlider__btn: a.btn.btn--type4(href='#') ПОДРОБНЕЕ

      .welcomeSlider__item(style='background-image: url(images/1_18.jpg)')
        .welcomeSlider__content: .c
          .welcomeSlider__label 158 м#[sup 2]
          .welcomeSlider__title Дом «Неаполь»
          .welcomeSlider__desc Цена снижена на 400 тыс. руб.
          .welcomeSlider__btn: a.btn.btn--type4(href='#') ПОДРОБНЕЕ
  .welcomeSlider__pagination
