.manufactureWelcome(style='background-image: url(modules/manufactureWelcome/img/bg.jpg)')
  .c
    .h1.manufactureWelcome__title
      span ПРОИЗВОДСТВО КЛЕЕНОГО БРУСА В «ИНБРУС»
    .manufactureWelcome__text
      p Собственное деревообрабатывающее производство позволяет #[b контролировать строительство на каждом этапе и давать самыевыгодные цены, не снижая качество постройки.]
